@use './variables';

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin linearGradient-background($img) {
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.803),
      rgba(variables.$color-primary-dark, 0.802)
    ),
    url(../img/#{$img}.jpg);
}

@mixin linearGradient-text {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    variables.$color-primary-light,
    variables.$color-primary-dark
  );
  background-clip: text;
  color: transparent;
}

@mixin centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*  
DESKTIO FIRST OPPROACH
0-600px: phone
600 - 900px: Tablet/Ipad portrait
900 - 1200px: Tablet/Ipad landscape
1200 - 1800px: Our NORMAL STYLES for REGULAR PCs
1800px ~: BIG DESKTOP

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content; // 600px
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content; //900px
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content; //1200px
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content; //1800px
    }
  }
}
