@use '../abstracts/variables';

.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color: variables.$color-white, $alpha: 0.5);
    border: none;
    transition: all 0.1s;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.1);
      border-bottom: 3px solid variables.$color-primary;

      &:invalid {
        border-bottom: 3px solid variables.$color-secondary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: variables.$color-gray-dark-2;
      //   color: red;
    }
  }

  &__label {
  }
}
