@use '../abstracts/variables';
@use '../abstracts/mixins';

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color: variables.$color-black, $alpha: 0.1);
  background-color: variables.$color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: variables.$default-font-size;
  transform: skewX(-12deg);

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    // background-color: orangered;
    float: left;
    shape-outside: circle(50% at 50% 50%);

    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    height: 100%;
  }

  &__caption {
    @include mixins.centering;
    color: variables.$color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    // text-align: center;
  }

  &_text {
    transform: skewX(12deg);
  }
}
