@use './base';

.features {
  // background-color: base.$color-grey-light-2;
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  // grid-template-columns: repeat(3, 1fr); Not Responsive
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;

  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem 2.5rem;
  // align-items: start;

  &__icon {
    // margin-top: ;
    transform: translateY(-1rem);
    width: 4.5rem;
    height: 4.5rem;
    fill: base.$color-primary;
    grid-row: 1 / span 2;
  }

  &__text {
    font-size: 1.7rem;
    // grid-column: 2/3;
  }
}
