@use './base';

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

  @media (max-width: base.$bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 2rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--bottom-border);
  // background-color: #f1ef71;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: base.$bp-smallest) {
    height: 12rem;
    align-content: space-around;
    flex-wrap: wrap;
  }
}

.content {
  display: flex;

  @media (max-width: base.$bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-white);
  // background-color: #49afe3;
  // height: 80rem;

  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--bottom-border);

  @media (max-width: base.$bp-medium) {
    padding: 3rem;
  }

  @media (max-width: base.$bp-small) {
    flex-direction: column;
  }
}

.description {
  font-size: 1.4rem;
  background-color: var(--color-white);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media (max-width: base.$bp-medium) {
    margin-right: 3rem;
  }

  @media (max-width: base.$bp-medium) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  // background-color: #6fde5c;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
