@use '../abstracts/variables';
@use '../abstracts/mixins';

.row {
  max-width: variables.$grid-width;
  // background-color: #eeeeee;
  margin: 0 auto;

  @include mixins.respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  &:not(:last-child) {
    margin-bottom: variables.$gutter-vertical;

    @include mixins.respond(tab-port) {
      margin-bottom: variables.$gutter-vertical-small;
    }
  }

  @include mixins.clearfix;

  // [class^='col-'] {
  //   background-color: orangered;
  //   float: left;
  // }

  %cols {
    // background-color: orangered;
    float: left;

    &:not(:last-child) {
      margin-right: variables.$gutter-horizental;

      @include mixins.respond(tab-port) {
        margin-right: 0;
        margin-bottom: variables.$gutter-vertical-small;
      }
    }

    @include mixins.respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    @extend %cols;
    width: calc((100% - #{variables.$gutter-horizental}) / 2);
  }

  .col-1-of-3 {
    @extend %cols;
    width: calc((100% - 2 * #{variables.$gutter-horizental}) / 3);
  }

  .col-1-of-4 {
    @extend %cols;
    width: calc((100% - 3 * #{variables.$gutter-horizental}) / 4);
  }
}
